<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GrandPy Bot</title>
  <!-- favicon -->
  <link rel="icon" type="image/png" href="static/img/robot-head.png" />

  <!-- Bootstrap -->
  <link href="../static/css/bootstrap/css/bootstrap.min.css?q=12345" rel="stylesheet">
  <!-- Icon library for social logos on footer -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- import css -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
  <!-- import javascript -->
   <script type="text/javascript" src="{{ url_for('static', filename='js/init_map.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/chatbox.js') }}"></script>

</head>
<body>
  <div id="container">
    <!-- Header  start -->
    <header class="row">
      <a href="/"> 
      <img class="logo" src="/static/img/robot-head.png" alt="Grandpy">
      <p class='heading'>GRANDPY BOT</p>
    </a>
      <h2>Le papy qui te raconte la géographie</h2>
      <h3>Donne moi une adresse, et je te raconterai des anecdotes !</h3>
    </header>
  <!-- Header  end -->
    <section>
      <!-- Webpage main content -->
        <div class='form' id="question_area">
        <form class="form_id">
          <input type="text" name="query" id='query' placeholder="Entrer une adresse"><figure id="search_img"><img id="search_img_gif" onclick="user_request_analyse()" src="../static/img/search_image.png" alt="Papy_face"></figure>

  </form>
        </div>
      <div>
        <!-- chat box  display -->
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8" id="dialogue"></div>
        </div>
        <!-- map display -->
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8" id="map"></div>
        </div>

      </div>

    </section>

	<!-- Footer -->
  <footer class="row">
    <p id="footer">Copyright (c) Tashi Tsering &#160;&#160;<a href="https://github.com/tsering10/Grandpy-bot" class="fa fa-github"></a>&#160;&#160;<a href="#" class="fa fa-linkedin"></a></p>
  </footer>
    
  </div>

 
  <!-- Googlemap initialisation -->
  <script src="https://maps.googleapis.com/maps/api/js?key={{ gmap_api_key }}&callback=initMap&libraries=&v=weekly" defer ></script>
  <!-- Add event listener on form -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/init_page.js') }}"></script>
</body>
</html>

